<% content_for(:title) { "How To: Emoji &bull; HelperNow.co".html_safe } %>

<h1>Emoji</h1>
<input type="text" autofocus="true" autocomplete="off" placeholder="Quick Search" class="emoji-quick-search">

<div class="emoji-loader large"></div>
