<table class="data-table">
  <% data.each do |data_key, data_val| %>
    <% next unless data_val.present? %>
    <tr>
      <td><%= data_key.titleize %></td>
      <td><%= data_val.to_s.html_safe %></td>
    </tr>
  <% end %>
</table>
