<div style="float: right; height: 125px;">
  <a href="http://suicidepreventionlifeline.org/">
    <%= image_tag "suicide_prevention.jpg", alt: "Suicide Prevention Lifeline" %>
  </a>
</div>
<p>
  <strong>If you are contemplating suicide, hurting yourself, or you are seriously depressed: please, seek professional help!</strong>
</p>
<p>
  Call this hotline (1-800-273-8255) operated by our friends at the <a class="underline nowrap" href="http://suicidepreventionlifeline.org/">Suicide Prevention Lifeline</a>, anytime, for free, professional, and confidential assistance. While other Helper users are likely to reply to your post, please make sure you understand that your use of HelperNow.co falls under or <a class="underline" href="<%= terms_of_service_path %>">TOS</a>.
</p>
<p>
  <i>Note: I'm a robot that the HelperNow creators programmed. If this response is in error, I apologize, please ignore it.</i>
</p>
