<div class="helpbot-message">
  <div class="image-wrapper">
    <a href="http://suicidepreventionlifeline.org/">
      <%= image_tag "suicide_prevention.jpg", alt: "Suicide Prevention Lifeline" %>
    </a>
  </div>
  <p>
    <strong>If you are contemplating suicide, hurting yourself, or you are seriously depressed: please, seek professional help!</strong>
  </p>
  <p>
    Call this hotline (<a href="tel:1-800-273-8255">1-800-273-8255</a>) operated by our friends at the <a class="underline nowrap" href="http://suicidepreventionlifeline.org/">Suicide Prevention Lifeline</a>, anytime, for free, professional, and confidential assistance. While other Helpers are likely to reply to your post, please make sure you understand that your use of Help-QA.com falls under our <a class="underline" href="<%= terms_of_service_path %>">TOS</a>.
  </p>
  <p>
    <i>Note: I'm a robot that the Help-QA creators programmed. If this response is in error, I apologize, please ignore it.</i>
  </p>
</div>
<div class="hidden reply-content" data-original-content="
*If you are contemplating suicide, hurting yourself, or you are seriously depressed: please, seek professional help!*

Call this hotline (1-800-273-8255) operated by our friends at the Suicide Prevention Lifeline (http://suicidepreventionlifeline.org/), anytime, for free, professional, and confidential assistance. While other Helpers are likely to reply to your post, please make sure you understand that your use of Help-QA.com falls under our TOS (http://help-qa.com<%= terms_of_service_path %>).

_Note: I'm a robot that the Help-QA creators programmed. If this response is in error, I apologize, please ignore it._"></div>
