body {
  font-family: Verdana;

  &, * { box-sizing: border-box; }
}

p, h6 { font-size: 14px; }
h5 { font-size: 16px; }
h4 { font-size: 18px; }
h3 { font-size: 24px; }
h2 { font-size: 28px; }
h1 { font-size: 32px; }

h1, h2, h3 { font-weight: normal; }
h4, h5, h6 { font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  color: $text-med;
  border-bottom: 2px solid $grey-light;
}

h2 {
  border-color: $text-med;
  border-width: 1px;
}

hr {
  margin: 0;
  margin-bottom: 5px;
  border: 1px solid $grey-light;
}

li { font-size: 14px; }

a {
  text-decoration: none;
  color: $link-default;

  &:visited { color: $link-visited; }
  &:hover { color: $link-hovered; }
}

textarea, input { color: $text-dark; }
::placeholder {
  color: $text-dark;
}

.footer .links {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}

@include xsmall-down {
  h4 { font-size: 16px; }
  h3 { font-size: 20px; }
  h2 { font-size: 22px; }
  h1 { font-size: 24px; }
  input { font-size: 16px; }
}
