body {
  font-family: Verdana;
}
p {
  font-size: 16px;
}
h6 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
}
hr {
  margin: 0;
  margin-bottom: 5px;
  border: 1px solid #EEE;
}

.stretch-children {
  display: table;
  width: 100%;
  & > * {
    vertical-align: top;
    display: table-cell;
    &:last-child { width: 100%; }
  }  
}

a {
  text-decoration: none;
  color: blue;
  &:hover { color: red; }
  &:visited { color: #909; }
}
