.text-right { text-align: right; }
.text-center { text-align: center; }
.normal { font-weight: normal; }
.text-bold { font-weight: bold; }
.underline { text-decoration: underline; }

.no-list { list-style-type: none; }

.hidden { display: none; }
.full-width { width: 100%; }

.grayscale { filter: grayscale(100%); }
