.text-right { text-align: right; }
.text-center { text-align: center; }
.normal { font-weight: normal; }
.text-bold { font-weight: bold; }
.underline { text-decoration: underline; }

.no-list { list-style-type: none; }
.no-margin { margin: 0; }
.nowrap { white-space: nowrap; }

.hidden { display: none !important; }
.full-width { width: 100%; }

.greyscale { filter: greyscale(100%); }

.no-censor .profane-wrapper .safe { display: none; }
.apply-censor .profane-wrapper .unsafe { display: none; }

.danger { color: red; font-size: 10px; }

.split-half, .small-up-half { @include split-page(50%); }

body:not(.mod) .mod-only { display: none !important; }

.clickable { cursor: pointer; }
