.text-right { text-align: right; }
.text-center { text-align: center; }
.normal { font-weight: normal; }
.hidden { display: none; }
.text-bold { font-weight: bold; }
.underline { text-decoration: underline; }
.full-width { width: 100%; }
