.ctr-static_pages {
  h6 { color: black; }
  p, li { font-size: 11px; }
  .tab { text-indent: 50px; }
  .section {
    font-weight: bold;
    font-size: 12px;
  }
  .sub-section { font-style: italic; }
}
