.ctr-static_pages {
  h6 { color: black; }
  p, li { font-size: 11px; }
  .tab { text-indent: 50px; }
  .section {
    font-weight: bold;
    font-size: 12px;
  }
  .sub-section { font-style: italic; }

  &.act-faq {
    .faq-wrapper {
      @include split-page(350px);

      margin-top: 50px;
      display: flex;
      flex-direction: row-reverse;

      .new-user-nav {
        min-width: 300px;
        width: 300px;
      }

      @include small-down {
        @include unsplit;
      }
    }
  }
}
