.ctr-users.act-show .user-page-container {
  .user-info {
    margin-bottom: 10px;
    border-bottom: 1px solid $grey-med;

    .username {
      display: inline-block;
      width: auto;
      color: $text-med;
      font-size: 32px;
    }
    .detail-icons {
      display: inline-block;
      width: auto;
    }
    .location {
      display: inline-block;
      width: auto;
    }
  }

  .profile-wrapper {
    @include split-page(200px);

    .mini-profile {
      padding-left: 5px;
      max-width: 215px;

      .bio {
        max-width: 100%;

        img { max-width: 100%; }
        .link-preview { max-width: 100%; }
      }
      h6 { margin-top: 10px; }
      .aka { font-weight: normal; }
    }

    .user-activity {
      padding-left: 15px;
    }

    .mini-profile, .user-activity {
      margin-top: -15px;
      font-size: 12px;
      font-weight: bold;

      .avatar { font-weight: normal; }
      .title {
        margin-top: 15px;
        border-bottom: 1px solid $grey-light;
      }
      .shared-email {
        margin-bottom: 10px;
        font-size: 10px;
        font-weight: normal;
      }
      hr {
        margin: 0;
        border-color: $grey-light;
        padding: 0;
      }
      p, p * {
        font-size: 10px;
        font-weight: normal;
        strong { font-weight: bold; }
      }
      .user-stats {
        border-collapse: collapse;
        background: #F3F3F3;
        width: 100%;

        .user-stat-name, .user-stat-value {
          text-align: center;

          td {
            vertical-align: middle;
            margin-left: 2px;
            border-left: 2px solid white;
            max-width: 150px;
            height: 30px;
          }
        }
        .user-stat-name {}
        .user-stat-value td {
          margin-top: -3px;
          padding: 10px 0;
          font-size: 20px;
          font-weight: normal;
        }
      }
      .recent-posts {
        .recent-post {
          padding: 5px 0;

          a p {
            display: inline;
            font-weight: bold;

            &, * { font-size: 16px; }
          }
          i { font-weight: normal; }
          .small { font-size: 8px; }
          p {
            margin: 0;
            width: 100%;
            text-overflow: ellipsis;
          }
        }
        .post-index-wrapper {
          padding: 5px 0;
          text-align: right;

          a { font-size: 18px; }
        }
      }
      .mod-abilities {
        margin: 20px 0;

        h6 { color: black; }
      }
      .post-tags, .reply-tags {
        margin-top: 30px;
        .tags {
          font-size: 10px;
          font-weight: normal;
        }
      }
    }
  }

  @include xsmall-down {
    .profile-wrapper {
      @include unsplit;

      .mini-profile, .user-activity {
        padding: 0 5px;

        & > .avatar-container {
          display: block !important;
          margin: 0 auto;
        }
      }
      .user-activity {
        .user-stats {
          .user-stat-name { display: none; }
          .user-stat-value td {
            display: block;
            margin: 0;
            border-bottom: 2px solid white;
            border-left: none;
            padding: 0;
            width: 100%;
            max-width: inherit;
            height: 25px;
            font-size: 12px;
            line-height: 25px;

            &:before {
              float: left;
              padding-left: 5px;
              width: 50%;
              font-size: 10px;
              font-weight: bold;
              line-height: 25px;
              text-align: left;
              content: attr(data-label);
            }
          }
        }
        .recent-posts {
          .recent-post {
            a { font-size: 14px; }
            i { display: block; }
            p { margin-top: 5px; }
          }
          .post-index-wrapper {
            a { font-size: 14px; }
          }
        }
      }
    }
  }
}
