.activity-graphs {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 75px;

  .activity-wrapper {
    position: absolute;
    right: 0;
    overflow: hidden;
    direction: rtl;
    display: table;
    table-layout: fixed;
    margin-bottom: 10px;

    .activity-graph {
      display: table-row;

      .date-column {
        display: table-cell;
        min-width: 5px;
        width: 5px;
        padding-right: 1px;
        vertical-align: top;

        .posts-bar, .replies-bar {
          min-width: 5px;
          width: 100%;
        }
        .posts-bar { background: #66C; }
        .replies-bar { background: #6C6; }
      }
    }
  }
}

.friends-container {
  text-align: center;

  .friend-container {
    display: inline-block;
    width: 200px;
    margin: 20px 0;
    text-align: center;
    vertical-align: top;

    .avatar {}
    .username {
      .hover-icon {
        display: block;
      }
    }
  }
}
