.ctr-audit, .ctr-email_blobs {
  &.act-index {
    table {
      border-spacing: 10px 5px;

      thead th {
        text-align: left;
        font-size: 14px;
        font-weight: bold;
      }
      tr td {
        vertical-align: top;
        font-size: 12px;

        small { font-size: 10px; }
      }
    }
  }
}

.show-changed, .show-deleted, .show-added {
  del {
    background: #FFBBC3;
    text-decoration: none;
  }
  ins {
    background: #B3FFC8;
    text-decoration: none;
  }
}
.show-deleted ins { display: none; }
.show-added del { display: none; }
