.ctr-audit {
  &.act-index {
    table {
      border-spacing: 10px 5px;

      thead th {
        text-align: left;
        font-size: 14px;
        font-weight: bold;
      }
      tr td {
        vertical-align: top;
        font-size: 12px;

        small { font-size: 10px; }
      }
    }
  }
  &.act-show {
    .audit-table {
      border-spacing: 0 10px;

      tr {
        td {
          background: $form-highlight;
          margin-top: 10px;
          padding: 5px;
          vertical-align: top;
        }
      }
    }
    .data-table {
      tr td {
        border: 1px solid black;
      }
    }
  }
}
.show-deleted {
  ins { display: none; }
  del {
    background: #FFBBC3;
    text-decoration: none;
  }
}
.show-added {
  del { display: none; }
  ins {
    background: #B3FFC8;
    text-decoration: none;
  }
}
