.ctr-chat.act-chat {

  *:not(h1) { font-size: 12px; }
  small, small * { font-size: 10px; }

  .chat-wrapper {
    display: flex;
    flex-direction: row-reverse;

    & > * {
      border: 1px solid $gray-med;
      margin-top: 10px;

      .title {
        background: $border-color;
        border-bottom: 1px solid $gray-med;
        font-weight: bold;
        font-size: 12px;
        padding: 3px;
      }
    }
    .users-container {
      margin-left: 5px;
      width: 250px;
    }
    .chat-container {
      width: 100%;
      overflow: hidden;
    }
    .online-list, .messages-container {
      height: 500px;
      max-height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .online-list {}
    .messages-container {}
    .date-splitter {
      padding: 10px;
      text-align: center;
      font-weight: bold;
      font-size: 10px;
    }
    .message-container {
      display: table;
      background-color: $grey-light;
      margin-bottom: 3px;
      width: 100%;
      max-width: 100%;

      & > div {
        display: table-cell;
        vertical-align: top;
      }
      .timestamp {
        color: $gray;
        line-height: 30px;

        .timestamp-wrapper {
          width: 50px;
          text-align: center;
        }
      }
      .avatar-container {
        margin-top: 4px;
      }
      .body {
        color: $text-dark;
        padding: 7px;
        width: 100%;

        .username {
          display: inline-block;
          margin-right: 10px;
          color: $text-med-dark;
          font-weight: bold;
        }
        .mute {
          display: inline;

          .hover-icon {
            top: 3px;
          }
        }
        p {
          display: inline;
          margin: 0;
          padding: 0;
        }
      }
    }
    .highlight { background: rgba($tagged-color, 0.5); }
    .removed { background: $reciprocity-none; }
  }

  form {
    width: calc(100% - 200px);
    margin-top: 10px;

    .field-wrapper {
      display: flex;

      input { width: 100%; }
      button {
        margin-left: 10px;
        padding: 0 7px;
      }
    }
    .volume-container {
      display: block;

      * { vertical-align: middle; }
    }
  }

  @include xsmall-down {
    .chat-wrapper {
      flex-direction: column;
      padding: 10px;

      .users-container, .chat-container {
        width: 100%;
        margin: 5px auto;

        .online-list {
          height: auto;
          padding-bottom: 20px;
        }
        .messages-container {
          height: 250px;
        }
      }
    }
    form {
      width: 100%;
      padding: 0 10px;
    }
  }
}
