.act-emoji {
  .emoji-loader {
    .searchable-container {
      display: inline-block;
      vertical-align: top;
      width: 200px;
      margin: 10px;
      text-align: center;

      .emoji-wrapper {
        font-size: 72px;

        .option-name { vertical-align: middle; }
      }
      .aliases { font-size: 10px; }
    }
  }
}
