.announcement {
  background: rgba($default-inverse, 0.5);
  border: 2px solid $default-inverse;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;

  a {
    color: white;
    text-decoration: underline;

    &:hover, &:active, &:visited { color: white; }
  }
}

.front-page {
  @include split-page(350px);

  .users-side {
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 50px;

    h6, p { font-size: 14px; }
    p { margin: 0; }
    .tags { font-size: 12px; }
    .popular-post {
      border: 1px solid lighten($help-default, 35%);
      margin: 10px auto;
      font-size: 14px;
      padding: 3px;
      padding-bottom: 15px;
      background: linear-gradient(to bottom, lighten($help-default, 35%), white);

      h6 { border-color: $help-default; }
      .post {
        @include split-page(25px);

        .words {
          vertical-align: top;
          padding-left: 4px;

          .title p { font-size: 18px; }
          .details {
            font-size: 12px;
            color: black;
          }
        }
      }
    }
    .recent-members { font-size: 0; }
  }
  .posts-side {
    padding-left: 10px;
    padding-right: 20px;

    .posts-wrapper {
      h1 { margin-top: 20px; }
      .tags { font-size: 10px; }
      .posts-container { overflow: hidden; }
    }
  }

  @include small-down {
    @include unsplit;
    flex-direction: column-reverse;

    & > * { margin: 10px auto; }
    .users-side {
      text-align: center;

      & > * {
        display: inline-block;
        vertical-align: top;
        max-width: 350px;
        min-width: 350px;
        width: 50%;
        margin: 5px;
        text-align: left;
      }
      .popular-post { margin: 5px; } // Specificity selector
    }
  }
  @include xxsmall-only {
    .users-side > * {
      min-width: inherit;
      width: 100%;
    }
  }
}
