.front-page {
  .users-side {
    width: 350px;
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    h6, p {
      font-size: 14px;
      margin: 0;
    }
    .tags {
      font-size: 12px;
      .tag-search {
        .field-wrapper {
          width: 100px;
          input { width: 100%; }
        }
        .btn-wrapper {
          width: 100px;
          text-align: right;
          button { width: 80px; }
        }
      }
    }
    .popular-post {
      border: 1px solid lighten($help-default, 35%);
      margin: 10px auto;
      font-size: 14px;
      padding: 3px;
      padding-bottom: 15px;
      background: linear-gradient(to bottom, lighten($help-default, 35%), white);
      hr {
        border-color: $help-default;
        border-width: 1px;
      }
      @include avatar-container(30px);
      .words {
        vertical-align: top;
        padding-left: 4px;
        .title {
          font-size: 18px;
        }
        .details {
          font-size: 12px;
          color: black;
        }
      }
    }
    .recent-members {
      font-size: 0;
      @include avatar-container(60px);
    }
  }
  .posts-side {
    padding-left: 10px;
    padding-right: 20px;
    .new-post-container {
      .text-area-wrapper {
        textarea {
          resize: vertical;
          font-size: 21px;
          width: 100%;
        }
      }
      .post-controls {
        font-size: 12px;
        .small-text {
          vertical-align: middle;
          display: inline-block;
          font-size: 8px;
        }
      }
    }
    .posts-wrapper {
      h3 {
        font-size: 32px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        margin-top: 20px;
      }
      .tags {
        font-size: 10px;
      }
      .posts-container {
        .post-container {
          @include avatar-container(50px);
          margin: 5px 0;
          .post-description {
            width: 100%;
            padding: 2px 0 0 3px;
            .title {
              font-weight: bold;
              font-size: 14px;
              margin-bottom: 3px;
              letter-spacing: 0.3px;
            }
            .post-information {
              font-size: 10px;
              color: grey;
            }
            .tags {
              font-size: 10px;
              color: grey;
            }
          }
          &:visited .post-description .title { color: #909; }
          &:hover {
            .post-description .title { color: red; }
            .avatar-container { border-color: purple; }
          }
        }
      }
    }
  }
  @media(max-width: 950px) {
    display: flex;
    flex-direction: column;
    .users-side {
      max-width: 350px;
      width: auto;
    }
  }
}
