.ctr-posts.act-new {
  h6 { margin-top: 20px; }
  ol {
    font-size: 12px;
    padding-left: 20px;

    li {
      font-weight: bold;

      p {
        font-size: 12px;
        font-weight: normal;
        margin-top: 0;
      }
    }
  }
}

.ctr-posts.act-show {

  .body-wrapper > * {
    @include split-page(210px);
  }

  .post-container {
    margin-bottom: 30px;

    .author-details {
      font-size: 12px;

      .avatar-container { border-color: $gray-med; }
      .username { font-weight: bold; }
    }
    .words {
      padding-left: 10px;

      .title p {
        font-size: 25px;
        margin-bottom: 15px;
        margin-top: 0;
      }
      .body {
        min-height: 50px;
        font-size: 10px;

        p {
          font-size: 10px;
          line-height: 1.5;
        }
        .link-preview {
          max-width: 250px;
        }
        .poll {
          line-height: 2;
          padding-right: 50px;

          .poll-results {
            display: table;
            width: 100%;

            span {
              display: table-cell;
              width: 50px;
            }
            .vote-bar-wrapper {
              display: table-cell;

              .vote-bar {
                height: 5px;
                background: green;
              }
            }
          }
        }
      }
      .details {
        border-top: 1px solid $border-color;
        padding-top: 3px;
        color: $gray-med-light;
        font-size: 10px;
      }
    }
  }
  .post-section {
    border-top: 1px solid $border-color;
    padding-top: 3px;
    margin-top: 10px;
    text-align: left;

    .reciprocity-some { background: $reciprocity-some; }
    .reciprocity-none { background: $reciprocity-none; }
    .post-section-detail {
      font-size: 12px;
      font-weight: bold;
      line-height: 1.5;

      .text-wrapper {
        padding: 5px 5px;
        vertical-align: middle;
        line-height: 1;

        span { display: inline-block; }
        .hover-icon {
          vertical-align: middle;
        }
      }
    }
    .post-section-content {
      font-size: 11px;
      padding: 5px;

      .deep {
        color: darken($reciprocity-none, 60%);
        font-weight: bold;
      }
      .replies-container {
        padding: 5px;
        padding-right: 0;
        overflow: hidden;

        .reply-container {
          border: 1px solid $gray-med;
          margin-bottom: 10px;
          position: relative;

          &.attached {
            margin-top: -13px;
            &.pending { border: 2px solid $help-default; }
            &.removed { border: 2px solid red; }
          }
          &.deactivated:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: white;
            opacity: 0.6;
            pointer-events: none;
          }
          .reply-author {
            padding: 5px;
            border-bottom: 1px solid $gray-med;
            position: relative;
            background: white;
            @include split-page(40px);

            .avatar-container {
              border-color: black;
              margin: 0;
            }
            .reply-author-text {
              padding-top: 4px;
              padding-left: 5px;
              width: 100%;

              .reply-author-name {
                display: inline-block;
                font-weight: bold;
                font-size: 14px;
              }
              .reply-author-stats {
                display: inline-block;

                .detail-icons {
                  display: inline-block;
                }
              }
            }
            .reply-options {
              position: absolute;
              bottom: 0;
              right: 0;
              width: auto;
              height: auto;
              border-top: 1px solid $border-color;
              border-left: 1px solid $border-color;

              .hover-icon { padding: 5px 3px; }
            }
          }
          .reply-content {
            background: $off-white;
            width: 100%;
            max-width: 745px;
            padding: 8px 5px;

            p {
              font-size: 12px;
              line-height: 1.5;
            }

            .link-img img, .video-container {
              width: 100%;
              max-width: 450px;
              margin: 0 auto;

              &.broken {
                width: 20px;
                height: 20px;
              }

              .video-wrapper {
                padding-bottom: 56.25%; /* 16:9 */
                position: relative;
                height: 0;

                .link-vid {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
          .reply-after-message {
            border-top: 1px solid $border-color;
            background: white;

            p {
              font-size: 12px;
              margin: 0;
              padding: 3px;
            }
          }
          &.highlight {
            border-top: 3px solid limegreen;
          }
          &.original-poster {
            border-color: $help-default;

            .reply-author { border-color: $help-default; }
            .reply-content { background: linear-gradient(to bottom, lighten($help-default, 40%), lighten($help-default, 45%)); }
          }
        }
        .pending-reply {
          border: 2px solid $help-default;
          background: lighten($help-default, 40%);
          color: black;
          margin-bottom: 10px;
          padding: 10px;

          &.removed {
            border-color: red;
            background-color: lighten(red, 40%);
          }
        }
      }
      .reply-errors {
        padding: 10px;
      }
      .new-reply-container {
        padding-left: 5px;
        margin-bottom: 30px;

        label {
          font-weight: bold;
        }
        textarea {
          width: 100%;
          resize: vertical;
        }
      }
    }
  }
}
