.recent-replies, .top-replies {

  * { font-size: 12px; }

  .post-reply-container {
    margin-top: 10px;
    background: $off-white;
    border: 1px solid $grey-light;

    .post-reply-title {
      font-weight: normal;
      background: $grey-light;
      padding: 5px;
    }
    .reply-text {
      padding-left: 8px;

      .quote-container {
        padding-left: 8px;
        border-left: 1px solid $grey-med;

        .timestamp, .timestamp * {
          font-weight: normal;
          font-size: 8px;
        }
      }
    }
  }
}
