.ctr-settings form { margin-bottom: 20px; }

ul.account-completion {
  margin: 20px;
  padding: 0;

  li {
    list-style-type: none;

    &.achievement-complete { background: $reciprocity-some; }
    &.achievement-incomplete { background: $reciprocity-none; }
    .hover-icon { vertical-align: middle; }
  }
}

.split-half {
  .half:first-of-type {
    padding-right: 30px;
  }

  @include xsmall-down {
    @include unsplit;
  }
}
