.ctr-settings.act-index {
  ul.account-completion {
    margin: 20px;
    padding: 0;

    li {
      list-style-type: none;

      &.achievement-complete { background: #D6FFD5; }
      &.achievement-incomplete { background: #FCDEDE; }
      .hover-icon { vertical-align: middle; }
    }
  }

  form { margin-bottom: 20px; }
  .half:first-of-type {
    padding-right: 30px;
  }
}
