.ctr-shouts.act-index {

  .shout-title {
    font-size: 28px;
    color: #666;
    p {
      font-size: 10px;
      color: black;
    }
  }

  .shout-wrapper {
    display: flex;

    .shout-list {
      width: 100%;
      height: 50px;
    }
    .new-shout {
      background: red;
      width: 700px;

      textarea {
        width: 100%;
        box-sizing: border-box;
        resize: vertical;
      }
    }

    @include xsmall-only {
      flex-direction: column-reverse;

      .shout-list, .new-shout {
        width: 100%;
      }
    }
  }

}
