.ctr-shouts {

  hr {
    border: 0;
    border-top: 1px solid #222;
    margin: 5px 0;
  }

  .shout-title {
    font-size: 28px;
    color: #666;
    p {
      font-size: 10px;
      color: black;
    }
  }

  .shout-wrapper {
    display: flex;
    margin-top: 10px;

    .shout-list {
      width: 100%;
      padding: 0 8px;

      .shout-container {
        .shout-author {
          .author-details {
            vertical-align: middle;
            padding-left: 5px;

            .author-name {
              font-size: 14px;
            }
            .timestamp {
              font-size: 10px;
            }
          }
        }
        .shout-body {
          p { font-size: 12px; }
        }
      }
    }
    .new-shout {
      width: 700px;
      padding: 0 8px;

      p {
        padding: 0 5px;
        font-size: 12px;
      }

      textarea {
        width: 100%;
        box-sizing: border-box;
        resize: vertical;
      }
    }

    @include xsmall-only {
      flex-direction: column-reverse;

      .shout-list, .new-shout {
        width: 100%;
      }
    }
  }

}
