<% if current_mod? %>
  <li>Unban User: <a href="<%= moderate_user_path(@user, ban: :none) %>" data-method="post">Unban</a></li>
  <li>Ban IP: <a href="<%= moderate_user_path(@user, ban: :ip) %>" data-method="post">Ban IP Address</a></li>
  <% if @user.perma_banned? %>
    <p>This user has been perma-banned.</p>
  <% else %>
    <p>Banned until: <%= @user.banned_until.to_formatted_s(:simple_with_time) %></p>
  <% end %>
<% end %>
<h1>Oh, dang.</h1>
<p>Very sorry, but this account has been banned.</p>
