<% usernames ||= Rails.cache.read("users_chatting") || [] %>
<% usernames.uniq.compact.each do |username| %>
  <% is_guest = username == "Guest" %>
  <% username = "Guest (#{usernames.count('Guest')})" if is_guest %>
  <% avatar = User.by_username(username).try(:avatar) || image_path("status_offline.png") %>
  <div class="message-container">
    <%= avatar(avatar(size: 20), size: 20) %>
    <div class="body">
      <div class="username"><%= username %></div>
    </div>
  </div>
<% end %>
