<p>Welcome <%= @user.username %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirm_account_url(confirmation_token: @user.confirmation_token) %></p>
