<div style="font-family: Verdana; margin: 0 auto; max-width: 600px;">
  <div style="background: #FF9F0F; border-radius: 8px; padding-bottom: 20px;">
    <h1 style="font-size: 40px; letter-spacing: -3px; color: white; font-weight: 400; padding: 10px 20px; margin-bottom: 0;">Help-QA</h1>
    <div style="background: white; margin: 0 20px; box-shadow: inset 0 0 8px #777; border-radius: 8px; border: 3px double white; color: #222; padding: 20px 15px;">
      <small>(Don't worry- we won't contact you again unless you join us and request emails for notifications.)</small>
      <p>HelpToGo.com replaced Help.com, and HelpToGo has shut down. We're back again with Help-QA.com, the next (and hopefully last) replacement.</p>
      <p>We've done our very best to bring back the original Help.com experience, and we think you'll like what we've built.</p>

      <h1 style="text-align: center;"><a href="https://help-qa.com">Help-QA.com</a></h1>

      <p>Unfortunately, many members did not move to HelpToGo, and by the time it shut down, only a few members remained.</p>
      <p>The community we once had was tight knit and helpful. We aim to build a community once again that will be able to once again help those that have become lost in their lives, or just need some help with trivial matters.</p>
      <p>We'd appreciate your help getting us back to the amazing community Help once was. If you see a friend in need or know of anybody that could use a place to rant, send them our way.</p>

      <p>We'd also love to hear about you! We'd love if you would stop by and leave a post telling us how've been, how life has treated you, and what's changed since the original site shut down. Come see some old friends, let us know how you like the new site, and stick around for a while to help us improve.</p>

      <p>We miss you! <br>Hope to hear from you soon,</p>
      <p>With ❤️, <br>&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://help-qa.com">Help-QA.com</a></p>
    </div>
  </div>
</div>
