<small>(Don't worry- we won't contact you again unless you join us and request emails for notifications.)</small>
<p>HelpToGo.com replaced Help.com, and HelpToGo has shut down. We're back again with Help-QA.com, the next (and hopefully last) replacement.</p>

<h1><a href="https://help-qa.com">Help-QA.com</a></h1>

<p>Unfortunately, many members did not move to HelpToGo, and by the time it shut down, only a few members remained. Help-QA has aimed to rebuild the original Help.com experience as closely as possible.</p>
<p>But even more so, we'd appreciate your help getting us back to the amazing community Help once was. If you see a friend in need or know of anybody that could use a place to rant, send them our way.</p>

<p>We'd also love to hear about you. Come see some old friends, tell us how life has treated you and what's change since you were last on Help. Let us know how you like the new site, and stick around for a while to help us improve.</p>

<p>We miss you! <br>Hope to hear from you soon,</p>
<p>❤️, <a href="https://help-qa.com">Help-QA.com</a></p>
