<p>Hey <%= @user.username %>, here's what you've missed up at <a href="<%= root_url %>">HelperNow.co</a>:</p>
<ul>
  <% @notices.each do |notice| %>
    <li><%= notice.notice_message(passed_root: root_url) %></li>
  <% end %>
</ul>
