.field-autofiller {
  position: absolute;
  background: white;
  height: auto;
  z-index: map-get($zindex, popup);
  max-height: 90px;
  overflow: hidden;
  box-shadow: 2px 1px 5px $purple-shadow;

  .searchable-container {
    display: inline-block;
    width: auto;
    text-align: left;
    margin: 2px;
    padding: 3px;
    border-radius: 100px;
    font-size: 16px;

    &.selected {
      background: $popup-highlight;
      cursor: pointer;
    }
  }

  &.emoji-loader {
    .emoji-wrapper {
      padding: 0 3px;
      white-space: nowrap;

      .option-name {
        vertical-align: middle;
        display: inline-block;
      }
    }
    .aliases { display: none; }
  }
}
