.emoji {
  display: inline-block;
  position: relative;
  font-weight: bold;
  background-color: #fff;
  background-repeat: no-repeat;
  overflow: hidden;
  height: $emojiSheetIconSize;
  width: $emojiSheetIconSize;

  &.secret                 { @include emojiSheet(0, 0); }
  &.sparkles               { @include emojiSheet(1, 0); }
  &.heavy_multiplication_x { @include emojiSheet(2, 0); }
  &.heavy_check_mark       { @include emojiSheet(3, 0); }
  &.black_nib              { @include emojiSheet(4, 0); }
  &.pencil2                { @include emojiSheet(5, 0); }
  &.v                      { @include emojiSheet(6, 0); }
  &.hand                   { @include emojiSheet(7, 0); }
  &.fist                   { @include emojiSheet(8, 0); }
  &.envelope               { @include emojiSheet(9, 0); }
  &.airplane               { @include emojiSheet(10, 0); }
  &.white_check_mark       { @include emojiSheet(11, 0); }
  &.scissors               { @include emojiSheet(12, 0); }
  &.fuelpump               { @include emojiSheet(13, 0); }
  &.tent                   { @include emojiSheet(14, 0); }
  &.boat                   { @include emojiSheet(15, 0); }
  &.golf                   { @include emojiSheet(16, 0); }
  &.fountain               { @include emojiSheet(17, 0); }
  &.church                 { @include emojiSheet(18, 0); }
  &.no_entry               { @include emojiSheet(19, 0); }
  &.ophiuchus              { @include emojiSheet(20, 0); }
  &.partly_sunny           { @include emojiSheet(21, 0); }
  &.snowman                { @include emojiSheet(22, 0); }
  &.baseball               { @include emojiSheet(23, 0); }
  &.soccer                 { @include emojiSheet(24, 0); }
  &.black_circle           { @include emojiSheet(25, 0); }
  &.white_circle           { @include emojiSheet(26, 0); }
  &.zap                    { @include emojiSheet(27, 0); }
  &.warning                { @include emojiSheet(28, 0); }

  &.congratulations        { @include emojiSheet(0, 1); }
  &.anchor                 { @include emojiSheet(1, 1); }
  &.black_medium_square    { @include emojiSheet(2, 1); }
  &.white_medium_square    { @include emojiSheet(3, 1); }
  &.black_large_square     { @include emojiSheet(4, 1); }
  &.white_large_square     { @include emojiSheet(5, 1); }
  &.arrow_backward         { @include emojiSheet(6, 1); }
  &.arrow_forward          { @include emojiSheet(7, 1); }
  &.black_small_square     { @include emojiSheet(8, 1); }
  &.white_small_square     { @include emojiSheet(9, 1); }
  &.m                      { @include emojiSheet(10, 1); }
  &.hourglass_flowing_sand { @include emojiSheet(11, 1); }
  &.alarm_clock            { @include emojiSheet(12, 1); }
  &.arrow_double_down      { @include emojiSheet(13, 1); }
  &.arrow_double_up        { @include emojiSheet(14, 1); }
  &.rewind                 { @include emojiSheet(15, 1); }
  &.fast_forward           { @include emojiSheet(16, 1); }
  &.hourglass              { @include emojiSheet(17, 1); }
  &.watch                  { @include emojiSheet(18, 1); }
  &.arrow_left_hook        { @include emojiSheet(19, 1); }
  &.arrow_right_hook       { @include emojiSheet(20, 1); }
  &.arrow_lower_left       { @include emojiSheet(21, 1); }
  &.arrow_lower_right      { @include emojiSheet(22, 1); }
  &.arrow_upper_right      { @include emojiSheet(23, 1); }
  &.arrow_upper_left       { @include emojiSheet(24, 1); }
  &.arrow_up_down          { @include emojiSheet(25, 1); }
  &.arrow_left_right       { @include emojiSheet(26, 1); }
  &.information_source     { @include emojiSheet(27, 1); }
  &.tm                     { @include emojiSheet(28, 1); }

  &.part_alternation_mark  { @include emojiSheet(0, 2); }
  &.wheelchair             { @include emojiSheet(1, 2); }
  &.interrobang            { @include emojiSheet(2, 2); }
  &.door                   { @include emojiSheet(3, 2); }
  &.flagpole               { @include emojiSheet(4, 2); }
  &.rotating_light         { @include emojiSheet(5, 2); }
  &.construction           { @include emojiSheet(6, 2); }
  &.vertical_traffic_light { @include emojiSheet(7, 2); }
  &.traffic_light          { @include emojiSheet(8, 2); }
  &.speedboat              { @include emojiSheet(9, 2); }
  &.rowboat                { @include emojiSheet(10, 2); }
  &.ship                   { @include emojiSheet(11, 2); }
  &.aerial_tramway         { @include emojiSheet(12, 2); }
  &.mountain_cableway      { @include emojiSheet(13, 2); }
  &.suspension_railway     { @include emojiSheet(14, 2); }
  &.mountain_railway       { @include emojiSheet(15, 2); }
  &.monorail               { @include emojiSheet(16, 2); }
  &.tractor                { @include emojiSheet(17, 2); }
  &.articulated_lorry      { @include emojiSheet(18, 2); }
  &.truck                  { @include emojiSheet(19, 2); }
  &.blue_car               { @include emojiSheet(20, 2); }
  &.oncoming_automobile    { @include emojiSheet(21, 2); }
  &.red_car                { @include emojiSheet(22, 2); }
  &.oncoming_taxi          { @include emojiSheet(23, 2); }
  &.taxi                   { @include emojiSheet(24, 2); }
  &.oncoming_police_car    { @include emojiSheet(25, 2); }
  &.police_car             { @include emojiSheet(26, 2); }
  &.fire_engine            { @include emojiSheet(27, 2); }
  &.ambulance              { @include emojiSheet(28, 2); }

  &.wavy_dash              { @include emojiSheet(0, 3); }
  &.recycle                { @include emojiSheet(1, 3); }
  &.bangbang               { @include emojiSheet(2, 3); }
  &.minibus                { @include emojiSheet(3, 3); }
  &.ok_woman               { @include emojiSheet(4, 3); }
  &.no_good                { @include emojiSheet(5, 3); }
  &.scream_cat             { @include emojiSheet(6, 3); }
  &.crying_cat_face        { @include emojiSheet(7, 3); }
  &.pouting_cat            { @include emojiSheet(8, 3); }
  &.kissing_cat            { @include emojiSheet(9, 3); }
  &.smirk_cat              { @include emojiSheet(10, 3); }
  &.heart_eyes_cat         { @include emojiSheet(11, 3); }
  &.smiley_cat             { @include emojiSheet(12, 3); }
  &.joy_cat                { @include emojiSheet(13, 3); }
  &.smile_cat              { @include emojiSheet(14, 3); }
  &.mask                   { @include emojiSheet(15, 3); }
  &.no_mouth               { @include emojiSheet(16, 3); }
  &.dizzy_face             { @include emojiSheet(17, 3); }
  &.sleeping               { @include emojiSheet(18, 3); }
  &.flushed                { @include emojiSheet(19, 3); }
  &.astonished             { @include emojiSheet(20, 3); }
  &.scream                 { @include emojiSheet(21, 3); }
  &.cold_sweat             { @include emojiSheet(22, 3); }
  &.hushed                 { @include emojiSheet(23, 3); }
  &.open_mouth             { @include emojiSheet(24, 3); }
  &.sob                    { @include emojiSheet(25, 3); }
  &.grimacing              { @include emojiSheet(26, 3); }
  &.tired_face             { @include emojiSheet(27, 3); }
  &.sleepy                 { @include emojiSheet(28, 3); }

  &.o                      { @include emojiSheet(0, 4); }
  &.hotsprings             { @include emojiSheet(1, 4); }
  &.customs                { @include emojiSheet(2, 4); }
  &.busstop                { @include emojiSheet(3, 4); }
  &.weary                  { @include emojiSheet(4, 4); }
  &.neutral_face           { @include emojiSheet(5, 4); }
  &.smirk                  { @include emojiSheet(6, 4); }
  &.sunglasses             { @include emojiSheet(7, 4); }
  &.heart_eyes             { @include emojiSheet(8, 4); }
  &.relieved               { @include emojiSheet(9, 4); }
  &.yum                    { @include emojiSheet(10, 4); }
  &.blush                  { @include emojiSheet(11, 4); }
  &.wink                   { @include emojiSheet(12, 4); }
  &.smiling_imp            { @include emojiSheet(13, 4); }
  &.innocent               { @include emojiSheet(14, 4); }
  &.laughing               { @include emojiSheet(15, 4); }
  &.sweat_smile            { @include emojiSheet(16, 4); }
  &.smile                  { @include emojiSheet(17, 4); }
  &.smiley                 { @include emojiSheet(18, 4); }
  &.joy                    { @include emojiSheet(19, 4); }
  &.grin                   { @include emojiSheet(20, 4); }
  &.grinning               { @include emojiSheet(21, 4); }
  &.moyai                  { @include emojiSheet(22, 4); }
  &.japan                  { @include emojiSheet(23, 4); }
  &.statue_of_liberty      { @include emojiSheet(24, 4); }
  &.tokyo_tower            { @include emojiSheet(25, 4); }
  &.mount_fuji             { @include emojiSheet(26, 4); }
  &.clock1230              { @include emojiSheet(27, 4); }
  &.clock1130              { @include emojiSheet(28, 4); }

  &.star                   { @include emojiSheet(0, 5); }
  &.diamonds               { @include emojiSheet(1, 5); }
  &.passport_control       { @include emojiSheet(2, 5); }
  &.trolleybus             { @include emojiSheet(3, 5); }
  &.fearful                { @include emojiSheet(4, 5); }
  &.clock1030              { @include emojiSheet(5, 5); }
  &.red_triangle_down      { @include emojiSheet(6, 5); }
  &.red_triangle_up        { @include emojiSheet(7, 5); }
  &.small_blue_diamond     { @include emojiSheet(8, 5); }
  &.small_orange_diamond   { @include emojiSheet(9, 5); }
  &.large_blue_diamond     { @include emojiSheet(10, 5); }
  &.large_orange_diamond   { @include emojiSheet(11, 5); }
  &.blue_circle            { @include emojiSheet(12, 5); }
  &.red_circle             { @include emojiSheet(13, 5); }
  &.white_square_button    { @include emojiSheet(14, 5); }
  &.black_square_button    { @include emojiSheet(15, 5); }
  &.trident                { @include emojiSheet(16, 5); }
  &.beginner               { @include emojiSheet(17, 5); }
  &.six_pointed_star       { @include emojiSheet(18, 5); }
  &.crystal_ball           { @include emojiSheet(19, 5); }
  &.telescope              { @include emojiSheet(20, 5); }
  &.microscope             { @include emojiSheet(21, 5); }
  &.gun                    { @include emojiSheet(22, 5); }
  &.knife                  { @include emojiSheet(23, 5); }
  &.nut_and_bolt           { @include emojiSheet(24, 5); }
  &.hammer                 { @include emojiSheet(25, 5); }
  &.wrench                 { @include emojiSheet(26, 5); }
  &.flashlight             { @include emojiSheet(27, 5); }
  &.fire                   { @include emojiSheet(28, 5); }

  &.white_large_square     { @include emojiSheet(0, 6); }
  &.hearts                 { @include emojiSheet(1, 6); }
  &.bathtub                { @include emojiSheet(2, 6); }
  &.oncoming_bus           { @include emojiSheet(3, 6); }
  &.anguished              { @include emojiSheet(4, 6); }
  &.clock930               { @include emojiSheet(5, 6); }
  &.abc                    { @include emojiSheet(6, 6); }
  &.mag_left               { @include emojiSheet(7, 6); }
  &.electric_plug          { @include emojiSheet(8, 6); }
  &.battery                { @include emojiSheet(9, 6); }
  &.sound                  { @include emojiSheet(10, 6); }
  &.loud                   { @include emojiSheet(11, 6); }
  &.speaker                { @include emojiSheet(12, 6); }
  &.mute                   { @include emojiSheet(13, 6); }
  &.high_brightness        { @include emojiSheet(14, 6); }
  &.low_brightness         { @include emojiSheet(15, 6); }
  &.sync                   { @include emojiSheet(16, 6); }
  &.arrows_clockwise       { @include emojiSheet(17, 6); }
  &.repeat_one             { @include emojiSheet(18, 6); }
  &.repeat                 { @include emojiSheet(19, 6); }
  &.shuffle                { @include emojiSheet(20, 6); }
  &.vhs                    { @include emojiSheet(21, 6); }
  &.radio                  { @include emojiSheet(22, 6); }
  &.tv                     { @include emojiSheet(23, 6); }
  &.video_camera           { @include emojiSheet(24, 6); }
  &.camera                 { @include emojiSheet(25, 6); }
  &.signal_strength        { @include emojiSheet(26, 6); }
  &.no_mobile_phones       { @include emojiSheet(27, 6); }
  &.mobile_phone_off       { @include emojiSheet(28, 6); }

  &.arrow_down             { @include emojiSheet(0, 7); }
  &.clubs                  { @include emojiSheet(1, 7); }
  &.bath                   { @include emojiSheet(2, 7); }
  &.bus                    { @include emojiSheet(3, 7); }
  &.frowning               { @include emojiSheet(4, 7); }
  &.clock830               { @include emojiSheet(5, 7); }
  &.symbols                { @include emojiSheet(6, 7); }
  &.vibration_mode         { @include emojiSheet(7, 7); }
  &.pencil                 { @include emojiSheet(8, 7); }
  &.scroll                 { @include emojiSheet(9, 7); }
  &.name_badge             { @include emojiSheet(10, 7); }
  &.books                  { @include emojiSheet(11, 7); }
  &.orange_book            { @include emojiSheet(12, 7); }
  &.blue_book              { @include emojiSheet(13, 7); }
  &.green_book             { @include emojiSheet(14, 7); }
  &.book                   { @include emojiSheet(15, 7); }
  &.red_book               { @include emojiSheet(16, 7); }
  &.brown_notebook         { @include emojiSheet(17, 7); }
  &.notebook               { @include emojiSheet(18, 7); }
  &.ledger                 { @include emojiSheet(19, 7); }
  &.bookmark_tabs          { @include emojiSheet(20, 7); }
  &.triangular_ruler       { @include emojiSheet(21, 7); }
  &.straight_ruler         { @include emojiSheet(22, 7); }
  &.paperclip              { @include emojiSheet(23, 7); }
  &.round_pushpin          { @include emojiSheet(24, 7); }
  &.pushpin                { @include emojiSheet(25, 7); }
  &.clipboard              { @include emojiSheet(26, 7); }
  &.bar_chart              { @include emojiSheet(27, 7); }
  &.downwards_trend        { @include emojiSheet(28, 7); }

  &.arrow_up               { @include emojiSheet(0, 8); }
  &.spades                 { @include emojiSheet(1, 8); }
  &.shower                 { @include emojiSheet(2, 8); }
  &.train                  { @include emojiSheet(3, 8); }
  &.disappointed_relieved  { @include emojiSheet(4, 8); }
  &.clock730               { @include emojiSheet(5, 8); }
  &.blue_1234              { @include emojiSheet(6, 8); }
  &.calling                { @include emojiSheet(7, 8); }
  &.upwards_trend          { @include emojiSheet(8, 8); }
  &.credit_card            { @include emojiSheet(9, 8); }
  &.heavy_dollar_sign      { @include emojiSheet(10, 8); }
  &.currency_exchange      { @include emojiSheet(11, 8); }
  &.moneybag               { @include emojiSheet(12, 8); }
  &.score_100              { @include emojiSheet(13, 8); }
  &.white_flower           { @include emojiSheet(14, 8); }
  &.thought_balloon        { @include emojiSheet(15, 8); }
  &.speech_balloon         { @include emojiSheet(16, 8); }
  &.dizzy                  { @include emojiSheet(17, 8); }
  &.muscle                 { @include emojiSheet(18, 8); }
  &.poop                   { @include emojiSheet(19, 8); }
  &.dash                   { @include emojiSheet(20, 8); }
  &.droplet                { @include emojiSheet(21, 8); }
  &.sweat_drops            { @include emojiSheet(22, 8); }
  &.boom                   { @include emojiSheet(23, 8); }
  &.zzz                    { @include emojiSheet(24, 8); }
  &.bomb                   { @include emojiSheet(25, 8); }
  &.anger                  { @include emojiSheet(26, 8); }
  &.bulb                   { @include emojiSheet(27, 8); }
  &.crystal                { @include emojiSheet(28, 8); }

  &.arrow_left             { @include emojiSheet(0, 9); }
  &.pisces                 { @include emojiSheet(1, 9); }
  &.wc                     { @include emojiSheet(2, 9); }
  &.tram                   { @include emojiSheet(3, 9); }
  &.triumph                { @include emojiSheet(4, 9); }
  &.clock630               { @include emojiSheet(5, 9); }
  &.abcd                   { @include emojiSheet(6, 9); }
  &.iphone                 { @include emojiSheet(7, 9); }
  &.card_index             { @include emojiSheet(8, 9); }
  &.heart_decoration       { @include emojiSheet(9, 9); }
  &.kiss                   { @include emojiSheet(10, 9); }
  &.pill                   { @include emojiSheet(11, 9); }
  &.syringe                { @include emojiSheet(12, 9); }
  &.barber                 { @include emojiSheet(13, 9); }
  &.haircut                { @include emojiSheet(14, 9); }
  &.massage                { @include emojiSheet(15, 9); }
  &.nail_care              { @include emojiSheet(16, 9); }
  &.lipstick               { @include emojiSheet(17, 9); }
  &.dancer                 { @include emojiSheet(18, 9); }
  &.guardsman              { @include emojiSheet(19, 9); }
  &.info_person            { @include emojiSheet(20, 9); }
  &.skull                  { @include emojiSheet(21, 9); }
  &.imp                    { @include emojiSheet(22, 9); }
  &.space_invader          { @include emojiSheet(23, 9); }
  &.alien                  { @include emojiSheet(24, 9); }
  &.angel                  { @include emojiSheet(25, 9); }
  &.ghost                  { @include emojiSheet(26, 9); }
  &.japanese_goblin        { @include emojiSheet(27, 9); }
  &.japanese_ogre          { @include emojiSheet(28, 9); }

  &.arrow_heading_down     { @include emojiSheet(0, 10); }
  &.aquarius               { @include emojiSheet(1, 10); }
  &.toilet                 { @include emojiSheet(2, 10); }
  &.station                { @include emojiSheet(3, 10); }
  &.persevere              { @include emojiSheet(4, 10); }
  &.clock530               { @include emojiSheet(5, 10); }
  &.capital_abcd           { @include emojiSheet(6, 10); }
  &.newspaper              { @include emojiSheet(7, 10); }
  &.calendar               { @include emojiSheet(8, 10); }
  &.revolving_hearts       { @include emojiSheet(9, 10); }
  &.princess               { @include emojiSheet(10, 10); }
  &.busts_in_silhouette    { @include emojiSheet(11, 10); }
  &.bust_in_silhouette     { @include emojiSheet(12, 10); }
  &.feet                   { @include emojiSheet(13, 10); }
  &.boot                   { @include emojiSheet(14, 10); }
  &.sandal                 { @include emojiSheet(15, 10); }
  &.high_heel              { @include emojiSheet(16, 10); }
  &.shoe                   { @include emojiSheet(17, 10); }
  &.mans_shoe              { @include emojiSheet(18, 10); }
  &.pouch                  { @include emojiSheet(19, 10); }
  &.handbag                { @include emojiSheet(20, 10); }
  &.purse                  { @include emojiSheet(21, 10); }
  &.womans_clothes         { @include emojiSheet(22, 10); }
  &.bikini                 { @include emojiSheet(23, 10); }
  &.kimono                 { @include emojiSheet(24, 10); }
  &.dress                  { @include emojiSheet(25, 10); }
  &.jeans                  { @include emojiSheet(26, 10); }
  &.tshirt                 { @include emojiSheet(27, 10); }
  &.necktie                { @include emojiSheet(28, 10); }

  &.arrow_heading_up       { @include emojiSheet(0, 11); }
  &.capricorn              { @include emojiSheet(1, 11); }
  &.baby_symbol            { @include emojiSheet(2, 11); }
  &.light_rail             { @include emojiSheet(3, 11); }
  &.cry                    { @include emojiSheet(4, 11); }
  &.clock430               { @include emojiSheet(5, 11); }
  &.keycap_ten             { @include emojiSheet(6, 11); }
  &.postal_horn            { @include emojiSheet(7, 11); }
  &.date                   { @include emojiSheet(8, 11); }
  &.gift_heart             { @include emojiSheet(9, 11); }
  &.construction_worker    { @include emojiSheet(10, 11); }
  &.eyeglasses             { @include emojiSheet(11, 11); }
  &.eyes                   { @include emojiSheet(12, 11); }
  &.paw_prints             { @include emojiSheet(13, 11); }
  &.pig_nose               { @include emojiSheet(14, 11); }
  &.panda_face             { @include emojiSheet(15, 11); }
  &.bear_face              { @include emojiSheet(16, 11); }
  &.wolf_face              { @include emojiSheet(17, 11); }
  &.hamster_face           { @include emojiSheet(18, 11); }
  &.frog_face              { @include emojiSheet(19, 11); }
  &.pig_face               { @include emojiSheet(20, 11); }
  &.dog_face               { @include emojiSheet(21, 11); }
  &.monkey_face            { @include emojiSheet(22, 11); }
  &.horse_face             { @include emojiSheet(23, 11); }
  &.whale                  { @include emojiSheet(24, 11); }
  &.dragon_face            { @include emojiSheet(25, 11); }
  &.cat_face               { @include emojiSheet(26, 11); }
  &.bunny_face             { @include emojiSheet(27, 11); }
  &.tiger_face             { @include emojiSheet(28, 11); }

  &.loop                   { @include emojiSheet(0, 12); }
  &.sagittarius            { @include emojiSheet(1, 12); }
  &.restroom               { @include emojiSheet(2, 12); }
  &.tunnel_train           { @include emojiSheet(3, 12); }
  &.rage                   { @include emojiSheet(4, 12); }
  &.clock330               { @include emojiSheet(5, 12); }
  &.underage               { @include emojiSheet(6, 12); }
  &.postbox                { @include emojiSheet(7, 12); }
  &.page_facing_up         { @include emojiSheet(8, 12); }
  &.purple_heart           { @include emojiSheet(9, 12); }
  &.baby                   { @include emojiSheet(10, 12); }
  &.womans_hat             { @include emojiSheet(11, 12); }
  &.cow_face               { @include emojiSheet(12, 12); }
  &.honeybee               { @include emojiSheet(13, 12); }
  &.ant                    { @include emojiSheet(14, 12); }
  &.bug                    { @include emojiSheet(15, 12); }
  &.shell                  { @include emojiSheet(16, 12); }
  &.octopus                { @include emojiSheet(17, 12); }
  &.elephant               { @include emojiSheet(18, 12); }
  &.boar_face              { @include emojiSheet(19, 12); }
  &.pig                    { @include emojiSheet(20, 12); }
  &.dog                    { @include emojiSheet(21, 12); }
  &.chicken_face           { @include emojiSheet(22, 12); }
  &.rooster                { @include emojiSheet(23, 12); }
  &.monkey                 { @include emojiSheet(24, 12); }
  &.ram                    { @include emojiSheet(25, 12); }
  &.goat                   { @include emojiSheet(26, 12); }
  &.sheep                  { @include emojiSheet(27, 12); }
  &.racehorse              { @include emojiSheet(28, 12); }

  &.curly_loop             { @include emojiSheet(0, 13); }
  &.scorpius               { @include emojiSheet(1, 13); }
  &.womens                 { @include emojiSheet(2, 13); }
  &.oncoming_train         { @include emojiSheet(3, 13); }
  &.angry                  { @include emojiSheet(4, 13); }
  &.clock230               { @include emojiSheet(5, 13); }
  &.top                    { @include emojiSheet(6, 13); }
  &.mailbox_no_mail        { @include emojiSheet(7, 13); }
  &.page_curl              { @include emojiSheet(8, 13); }
  &.yellow_heart           { @include emojiSheet(9, 13); }
  &.older_woman            { @include emojiSheet(10, 13); }
  &.crown                  { @include emojiSheet(11, 13); }
  &.mouse_face             { @include emojiSheet(12, 13); }
  &.snake                  { @include emojiSheet(13, 13); }
  &.izakaya_lantern        { @include emojiSheet(14, 13); }
  &.factory                { @include emojiSheet(15, 13); }
  &.department_store       { @include emojiSheet(16, 13); }
  &.school                 { @include emojiSheet(17, 13); }
  &.convenience_store      { @include emojiSheet(18, 13); }
  &.love_hotel             { @include emojiSheet(19, 13); }
  &.hotel                  { @include emojiSheet(20, 13); }
  &.atm                    { @include emojiSheet(21, 13); }
  &.bank                   { @include emojiSheet(22, 13); }
  &.hospital               { @include emojiSheet(23, 13); }
  &.european_post_office   { @include emojiSheet(24, 13); }
  &.post_office            { @include emojiSheet(25, 13); }
  &.office                 { @include emojiSheet(26, 13); }
  &.house_garden           { @include emojiSheet(27, 13); }
  &.house                  { @include emojiSheet(28, 13); }

  &.arrow_right            { @include emojiSheet(0, 14); }
  &.libra                  { @include emojiSheet(1, 14); }
  &.mens                   { @include emojiSheet(2, 14); }
  &.bullettrain_side       { @include emojiSheet(3, 14); }
  &.worried                { @include emojiSheet(4, 14); }
  &.clock130               { @include emojiSheet(5, 14); }
  &.soon                   { @include emojiSheet(6, 14); }
  &.mailbox_mail           { @include emojiSheet(7, 14); }
  &.open_file_folder       { @include emojiSheet(8, 14); }
  &.green_heart            { @include emojiSheet(9, 14); }
  &.older_man              { @include emojiSheet(10, 14); }
  &.open_hands             { @include emojiSheet(11, 14); }
  &.dolphin                { @include emojiSheet(12, 14); }
  &.snail                  { @include emojiSheet(13, 14); }
  &.swimmer                { @include emojiSheet(14, 14); }
  &.trumpet                { @include emojiSheet(15, 14); }
  &.musical_keyboard       { @include emojiSheet(16, 14); }
  &.guitar                 { @include emojiSheet(17, 14); }
  &.saxophone              { @include emojiSheet(18, 14); }
  &.notes                  { @include emojiSheet(19, 14); }
  &.musical_note           { @include emojiSheet(20, 14); }
  &.flower_cards           { @include emojiSheet(21, 14); }
  &.bowling                { @include emojiSheet(22, 14); }
  &.dice                   { @include emojiSheet(23, 14); }
  &.eight_ball             { @include emojiSheet(24, 14); }
  &.slot_machine           { @include emojiSheet(25, 14); }
  &.dart                   { @include emojiSheet(26, 14); }
  &.video_game             { @include emojiSheet(27, 14); }
  &.performing_arts        { @include emojiSheet(28, 14); }

  &.heavy_division_sign    { @include emojiSheet(0, 15); }
  &.virgo                  { @include emojiSheet(1, 15); }
  &.children_crossing      { @include emojiSheet(2, 15); }
  &.bullettrain_side2      { @include emojiSheet(3, 15); }
  &.disappointed           { @include emojiSheet(4, 15); }
  &.clock12                { @include emojiSheet(5, 15); }
  &.on                     { @include emojiSheet(6, 15); }
  &.mailbox                { @include emojiSheet(7, 15); }
  &.file_folder            { @include emojiSheet(8, 15); }
  &.blue_heart             { @include emojiSheet(9, 15); }
  &.man_turban             { @include emojiSheet(10, 15); }
  &.clap                   { @include emojiSheet(11, 15); }
  &.camel                  { @include emojiSheet(12, 15); }
  &.whale2                 { @include emojiSheet(13, 15); }
  &.rugby_football         { @include emojiSheet(14, 15); }
  &.clapper                { @include emojiSheet(15, 15); }
  &.school_satchel         { @include emojiSheet(16, 15); }
  &.rice_scene             { @include emojiSheet(17, 15); }
  &.wind_chime             { @include emojiSheet(18, 15); }
  &.flags                  { @include emojiSheet(19, 15); }
  &.dolls                  { @include emojiSheet(20, 15); }
  &.bamboo                 { @include emojiSheet(21, 15); }
  &.crossed_flags          { @include emojiSheet(22, 15); }
  &.tanabata_tree          { @include emojiSheet(23, 15); }
  &.confetti_ball          { @include emojiSheet(24, 15); }
  &.tada                   { @include emojiSheet(25, 15); }
  &.balloon                { @include emojiSheet(26, 15); }
  &.sparkler               { @include emojiSheet(27, 15); }
  &.fireworks              { @include emojiSheet(28, 15); }

  &.heavy_minus_sign       { @include emojiSheet(0, 16); }
  &.leo                    { @include emojiSheet(1, 16); }
  &.no_pedestrians         { @include emojiSheet(2, 16); }
  &.train                  { @include emojiSheet(3, 16); }
  &.playful                { @include emojiSheet(4, 16); }
  &.clock11                { @include emojiSheet(5, 16); }
  &.end                    { @include emojiSheet(6, 16); }
  &.mailbox_closed         { @include emojiSheet(7, 16); }
  &.dvd                    { @include emojiSheet(8, 16); }
  &.cupid                  { @include emojiSheet(9, 16); }
  &.gua_pi_mao             { @include emojiSheet(10, 16); }
  &.thumbsdown             { @include emojiSheet(11, 16); }
  &.dromedary_camel        { @include emojiSheet(12, 16); }
  &.crocodile              { @include emojiSheet(13, 16); }
  &.football               { @include emojiSheet(14, 16); }
  &.ticket                 { @include emojiSheet(15, 16); }
  &.santa                  { @include emojiSheet(16, 16); }
  &.tea                    { @include emojiSheet(17, 16); }
  &.fork_and_knife         { @include emojiSheet(18, 16); }
  &.egg                    { @include emojiSheet(19, 16); }
  &.stew                   { @include emojiSheet(20, 16); }
  &.bento                  { @include emojiSheet(21, 16); }
  &.cake                   { @include emojiSheet(22, 16); }
  &.honey_pot              { @include emojiSheet(23, 16); }
  &.custard                { @include emojiSheet(24, 16); }
  &.lollipop               { @include emojiSheet(25, 16); }
  &.candy                  { @include emojiSheet(26, 16); }
  &.chocolate_bar          { @include emojiSheet(27, 16); }
  &.cookie                 { @include emojiSheet(28, 16); }

  &.heavy_plus_sign        { @include emojiSheet(0, 17); }
  &.cancer                 { @include emojiSheet(1, 17); }
  &.walker                 { @include emojiSheet(2, 17); }
  &.steam_locomotive       { @include emojiSheet(3, 17); }
  &.mischievous            { @include emojiSheet(4, 17); }
  &.clock10                { @include emojiSheet(5, 17); }
  &.back                   { @include emojiSheet(6, 17); }
  &.send_mail              { @include emojiSheet(7, 17); }
  &.cd                     { @include emojiSheet(8, 17); }
  &.heartpulse             { @include emojiSheet(9, 17); }
  &.blond_hair             { @include emojiSheet(10, 17); }
  &.thumbsup               { @include emojiSheet(11, 17); }
  &.poodle                 { @include emojiSheet(12, 17); }
  &.dragon                 { @include emojiSheet(13, 17); }
  &.horse_racing           { @include emojiSheet(14, 17); }
  &.circus_tent            { @include emojiSheet(15, 17); }
  &.christmas_tree         { @include emojiSheet(16, 17); }
  &.doughnut               { @include emojiSheet(17, 17); }
  &.spaghetti              { @include emojiSheet(18, 17); }
  &.ramen                  { @include emojiSheet(19, 17); }
  &.curry                  { @include emojiSheet(20, 17); }
  &.rice                   { @include emojiSheet(21, 17); }
  &.rice_ball              { @include emojiSheet(22, 17); }
  &.rice_cracker           { @include emojiSheet(23, 17); }
  &.poultry_leg            { @include emojiSheet(24, 17); }
  &.meat_on_bone           { @include emojiSheet(25, 17); }
  &.pizza                  { @include emojiSheet(26, 17); }
  &.hamburger              { @include emojiSheet(27, 17); }
  &.strawberry             { @include emojiSheet(28, 17); }

  &.heart                  { @include emojiSheet(0, 18); }
  &.gemini                 { @include emojiSheet(1, 18); }
  &.mountain_bicyclist     { @include emojiSheet(2, 18); }
  &.helicopter             { @include emojiSheet(3, 18); }
  &.stuck_out_tongue       { @include emojiSheet(4, 18); }
  &.clock9                 { @include emojiSheet(5, 18); }
  &.radio_button           { @include emojiSheet(6, 18); }
  &.incoming_envelope      { @include emojiSheet(7, 18); }
  &.floppy_disk            { @include emojiSheet(8, 18); }
  &.sparkling_heart        { @include emojiSheet(9, 18); }
  &.bride_veil             { @include emojiSheet(10, 18); }
  &.ok_hand                { @include emojiSheet(11, 18); }
  &.koala_face             { @include emojiSheet(12, 18); }
  &.cat                    { @include emojiSheet(13, 18); }
  &.trophy                 { @include emojiSheet(14, 18); }
  &.tophat                 { @include emojiSheet(15, 18); }
  &.jack_o_lantern         { @include emojiSheet(16, 18); }
  &.icecream_bowl          { @include emojiSheet(17, 18); }
  &.cherries               { @include emojiSheet(18, 18); }
  &.grapes                 { @include emojiSheet(19, 18); }
  &.eggplant               { @include emojiSheet(20, 18); }
  &.tomato                 { @include emojiSheet(21, 18); }
  &.mushroom               { @include emojiSheet(22, 18); }
  &.leaves                 { @include emojiSheet(23, 18); }
  &.fallen_leaf            { @include emojiSheet(24, 18); }
  &.maple_leaf             { @include emojiSheet(25, 18); }
  &.four_leaf_clover       { @include emojiSheet(26, 18); }
  &.herb                   { @include emojiSheet(27, 18); }
  &.ear_of_rice            { @include emojiSheet(28, 18); }

  &.red_exclamation        { @include emojiSheet(0, 19); }
  &.taurus                 { @include emojiSheet(1, 19); }
  &.bicyclist              { @include emojiSheet(2, 19); }
  &.rocket                 { @include emojiSheet(3, 19); }
  &.kissing_closed_eyes    { @include emojiSheet(4, 19); }
  &.clock8                 { @include emojiSheet(5, 19); }
  &.link                   { @include emojiSheet(6, 19); }
  &.email                  { @include emojiSheet(7, 19); }
  &.minidisc               { @include emojiSheet(8, 19); }
  &.two_hearts             { @include emojiSheet(9, 19); }
  &.dancers                { @include emojiSheet(10, 19); }
  &.wave                   { @include emojiSheet(11, 19); }
  &.penguin_face           { @include emojiSheet(12, 19); }
  &.rabbit                 { @include emojiSheet(13, 19); }
  &.surfer                 { @include emojiSheet(14, 19); }
  &.art                    { @include emojiSheet(15, 19); }
  &.birthday               { @include emojiSheet(16, 19); }
  &.shaved_ice             { @include emojiSheet(17, 19); }
  &.peach                  { @include emojiSheet(18, 19); }
  &.corn                   { @include emojiSheet(19, 19); }
  &.evergreen_tree         { @include emojiSheet(20, 19); }
  &.seedling               { @include emojiSheet(21, 19); }
  &.chestnut               { @include emojiSheet(22, 19); }
  &.stars                  { @include emojiSheet(23, 19); }
  &.star2                  { @include emojiSheet(24, 19); }
  &.sun_face               { @include emojiSheet(25, 19); }
  &.full_moon_face         { @include emojiSheet(26, 19); }
  &.waning_moon_face       { @include emojiSheet(27, 19); }
  &.waxing_moon_face       { @include emojiSheet(28, 19); }

  &.grey_exclamation       { @include emojiSheet(0, 20); }
  &.aries                  { @include emojiSheet(1, 20); }
  &.no_bicycles            { @include emojiSheet(2, 20); }
  &.pray                   { @include emojiSheet(3, 20); }
  &.kissing_smiling_eyes   { @include emojiSheet(4, 20); }
  &.clock7                 { @include emojiSheet(5, 20); }
  &.bookmark               { @include emojiSheet(6, 20); }
  &.package                { @include emojiSheet(7, 20); }
  &.briefcase              { @include emojiSheet(8, 20); }
  &.broken_heart           { @include emojiSheet(9, 20); }
  &.cop                    { @include emojiSheet(10, 20); }
  &.facepunch              { @include emojiSheet(11, 20); }
  &.bird_face              { @include emojiSheet(12, 20); }
  &.leopard                { @include emojiSheet(13, 20); }
  &.runner                 { @include emojiSheet(14, 20); }
  &.earphones              { @include emojiSheet(15, 20); }
  &.gift                   { @include emojiSheet(16, 20); }
  &.icecream_cone          { @include emojiSheet(17, 20); }
  &.pear                   { @include emojiSheet(18, 20); }
  &.blossom                { @include emojiSheet(19, 20); }
  &.new_moon_face          { @include emojiSheet(20, 20); }
  &.new_moon               { @include emojiSheet(21, 20); }
  &.globe_meridians        { @include emojiSheet(22, 20); }
  &.earth_asia             { @include emojiSheet(23, 20); }
  &.earth_americas         { @include emojiSheet(24, 20); }
  &.earth_africa           { @include emojiSheet(25, 20); }
  &.milky_way              { @include emojiSheet(26, 20); }
  &.volcano                { @include emojiSheet(27, 20); }
  &.ocean                  { @include emojiSheet(28, 20); }

  &.grey_question          { @include emojiSheet(0, 21); }
  &.relaxed                { @include emojiSheet(1, 21); }
  &.bike                   { @include emojiSheet(2, 21); }
  &.person_pouting         { @include emojiSheet(3, 21); }
  &.kissing_heart          { @include emojiSheet(4, 21); }
  &.clock6                 { @include emojiSheet(5, 21); }
  &.no_bell                { @include emojiSheet(6, 21); }
  &.inbox_tray             { @include emojiSheet(7, 21); }
  &.computer               { @include emojiSheet(8, 21); }
  &.heartbeat              { @include emojiSheet(9, 21); }
  &.female_couple          { @include emojiSheet(10, 21); }
  &.point_right            { @include emojiSheet(11, 21); }
  &.hatched_chick          { @include emojiSheet(12, 21); }
  &.tiger                  { @include emojiSheet(13, 21); }
  &.snowboarder            { @include emojiSheet(14, 21); }
  &.cinema                 { @include emojiSheet(15, 21); }
  &.ribbon                 { @include emojiSheet(16, 21); }
  &.fish_cake              { @include emojiSheet(17, 21); }
  &.green_apple            { @include emojiSheet(18, 21); }
  &.sunflower              { @include emojiSheet(19, 21); }
  &.crescent_moon          { @include emojiSheet(20, 21); }
  &.bridge_at_night        { @include emojiSheet(21, 21); }
  &.foggy                  { @include emojiSheet(22, 21); }
  &.spiral                 { @include emojiSheet(23, 21); }
  &.accept                 { @include emojiSheet(24, 21); }
  &.ideograph_advantage    { @include emojiSheet(25, 21); }
  &.u55b6                  { @include emojiSheet(26, 21); }
  &.u5272                  { @include emojiSheet(27, 21); }
  &.u7533                  { @include emojiSheet(28, 21); }

  &.red_question           { @include emojiSheet(0, 22); }
  &.point_up               { @include emojiSheet(1, 22); }
  &.non_potable_water      { @include emojiSheet(2, 22); }
  &.person_frowning        { @include emojiSheet(3, 22); }
  &.kissing                { @include emojiSheet(4, 22); }
  &.clock5                 { @include emojiSheet(5, 22); }
  &.bell                   { @include emojiSheet(6, 22); }
  &.outbox_tray            { @include emojiSheet(7, 22); }
  &.seat                   { @include emojiSheet(8, 22); }
  &.wedding                { @include emojiSheet(9, 22); }
  &.male_couple            { @include emojiSheet(10, 22); }
  &.point_left             { @include emojiSheet(11, 22); }
  &.baby_chick             { @include emojiSheet(12, 22); }
  &.cow                    { @include emojiSheet(13, 22); }
  &.checkered_flag         { @include emojiSheet(14, 22); }
  &.movie_camera           { @include emojiSheet(15, 22); }
  &.baby_bottle            { @include emojiSheet(16, 22); }
  &.fried_shrimp           { @include emojiSheet(17, 22); }
  &.red_apple              { @include emojiSheet(18, 22); }
  &.hibiscus               { @include emojiSheet(19, 22); }
  &.waning_crescent_moon   { @include emojiSheet(20, 22); }
  &.rainbow                { @include emojiSheet(21, 22); }
  &.u6709                  { @include emojiSheet(22, 22); }
  &.sa                     { @include emojiSheet(23, 22); }
  &.koko                   { @include emojiSheet(24, 22); }
  &.us                     { @include emojiSheet(25, 22); }
  &.ru                     { @include emojiSheet(26, 22); }
  &.kr                     { @include emojiSheet(27, 22); }
  &.jp                     { @include emojiSheet(28, 22); }

  &.green_cross            { @include emojiSheet(0, 23); }
  &.coffee                 { @include emojiSheet(1, 23); }
  &.potable_water          { @include emojiSheet(2, 23); }
  &.raised_hands           { @include emojiSheet(3, 23); }
  &.confounded             { @include emojiSheet(4, 23); }
  &.clock4                 { @include emojiSheet(5, 23); }
  &.unlock                 { @include emojiSheet(6, 23); }
  &.megaphone              { @include emojiSheet(7, 23); }
  &.chart                  { @include emojiSheet(8, 23); }
  &.couple_heart           { @include emojiSheet(9, 23); }
  &.couple                 { @include emojiSheet(10, 23); }
  &.point_down             { @include emojiSheet(11, 23); }
  &.hatching_chick         { @include emojiSheet(12, 23); }
  &.water_buffalo          { @include emojiSheet(13, 23); }
  &.basketball             { @include emojiSheet(14, 23); }
  &.microphone             { @include emojiSheet(15, 23); }
  &.beers                  { @include emojiSheet(16, 23); }
  &.sushi                  { @include emojiSheet(17, 23); }
  &.pineapple              { @include emojiSheet(18, 23); }
  &.rose                   { @include emojiSheet(19, 23); }
  &.last_quarter_moon      { @include emojiSheet(20, 23); }
  &.city_sunrise           { @include emojiSheet(21, 23); }
  &.u6e80                  { @include emojiSheet(22, 23); }
  &.it                     { @include emojiSheet(23, 23); }
  &.vs                     { @include emojiSheet(24, 23); }
  &.up                     { @include emojiSheet(25, 23); }
  &.sos                    { @include emojiSheet(26, 23); }
  &.ok                     { @include emojiSheet(27, 23); }
  &.ng                     { @include emojiSheet(28, 23); }

  &.x                      { @include emojiSheet(0, 24); }
  &.umbrella               { @include emojiSheet(1, 24); }
  &.do_not_litter          { @include emojiSheet(2, 24); }
  &.raising_hand           { @include emojiSheet(3, 24); }
  &.confused               { @include emojiSheet(4, 24); }
  &.clock3                 { @include emojiSheet(5, 24); }
  &.lock                   { @include emojiSheet(6, 24); }
  &.loudspeaker            { @include emojiSheet(7, 24); }
  &.money_wings            { @include emojiSheet(8, 24); }
  &.bouquet                { @include emojiSheet(9, 24); }
  &.family                 { @include emojiSheet(10, 24); }
  &.point_up               { @include emojiSheet(11, 24); }
  &.turtle                 { @include emojiSheet(12, 24); }
  &.ox                     { @include emojiSheet(13, 24); }
  &.ski                    { @include emojiSheet(14, 24); }
  &.fishing_pole           { @include emojiSheet(15, 24); }
  &.beer                   { @include emojiSheet(16, 24); }
  &.oden                   { @include emojiSheet(17, 24); }
  &.banana                 { @include emojiSheet(18, 24); }
  &.cherry_blossom         { @include emojiSheet(19, 24); }
  &.waning_gibbous_moon    { @include emojiSheet(20, 24); }
  &.city_sunset            { @include emojiSheet(21, 24); }
  &.u5408                  { @include emojiSheet(22, 24); }
  &.uk                     { @include emojiSheet(23, 24); }
  &.new                    { @include emojiSheet(24, 24); }
  &.ab                     { @include emojiSheet(25, 24); }
  &.parking                { @include emojiSheet(26, 24); }
  &.o2                     { @include emojiSheet(27, 24); }
  &.b                      { @include emojiSheet(28, 24); }

  &.sparkle                { @include emojiSheet(0, 25); }
  &.ballot_box_check       { @include emojiSheet(1, 25); }
  &.litter_sign            { @include emojiSheet(2, 25); }
  &.speak_no_evil          { @include emojiSheet(3, 25); }
  &.pensive                { @include emojiSheet(4, 25); }
  &.clock2                 { @include emojiSheet(5, 25); }
  &.key                    { @include emojiSheet(6, 25); }
  &.satellite              { @include emojiSheet(7, 25); }
  &.pound                  { @include emojiSheet(8, 25); }
  &.couplekiss             { @include emojiSheet(9, 25); }
  &.woman                  { @include emojiSheet(10, 25); }
  &.tongue                 { @include emojiSheet(11, 25); }
  &.blowfish               { @include emojiSheet(12, 25); }
  &.mouse                  { @include emojiSheet(13, 25); }
  &.tennis                 { @include emojiSheet(14, 25); }
  &.roller_coaster         { @include emojiSheet(15, 25); }
  &.tropical_drink         { @include emojiSheet(16, 25); }
  &.dango                  { @include emojiSheet(17, 25); }
  &.lemon                  { @include emojiSheet(18, 25); }
  &.tulip                  { @include emojiSheet(19, 25); }
  &.full_moon              { @include emojiSheet(20, 25); }
  &.sunrise                { @include emojiSheet(21, 25); }
  &.u7a7a                  { @include emojiSheet(22, 25); }
  &.fr                     { @include emojiSheet(23, 25); }
  &.id                     { @include emojiSheet(24, 25); }
  &.a                      { @include emojiSheet(25, 25); }
  &.copyright              { @include emojiSheet(26, 25); }
  &.nine                   { @include emojiSheet(27, 25); }
  &.eight                  { @include emojiSheet(28, 25); }

  &.snowflake              { @include emojiSheet(0, 26); }
  &.telephone              { @include emojiSheet(1, 26); }
  &.no_smoking             { @include emojiSheet(2, 26); }
  &.hear_no_evil           { @include emojiSheet(3, 26); }
  &.sweat                  { @include emojiSheet(4, 26); }
  &.clock1                 { @include emojiSheet(5, 26); }
  &.closed_lock_key        { @include emojiSheet(6, 26); }
  &.fax                    { @include emojiSheet(7, 26); }
  &.euro                   { @include emojiSheet(8, 26); }
  &.gem                    { @include emojiSheet(9, 26); }
  &.man                    { @include emojiSheet(10, 26); }
  &.lips                   { @include emojiSheet(11, 26); }
  &.tropical_fish          { @include emojiSheet(12, 26); }
  &.rat                    { @include emojiSheet(13, 26); }
  &.running_shirt_sash     { @include emojiSheet(14, 26); }
  &.ferris_wheel           { @include emojiSheet(15, 26); }
  &.cocktail               { @include emojiSheet(16, 26); }
  &.sweet_potato           { @include emojiSheet(17, 26); }
  &.tangerine              { @include emojiSheet(18, 26); }
  &.cactus                 { @include emojiSheet(19, 26); }
  &.waxing_gibbous_moon    { @include emojiSheet(20, 26); }
  &.sunrise_over_mountains { @include emojiSheet(21, 26); }
  &.u7981                  { @include emojiSheet(22, 26); }
  &.es                     { @include emojiSheet(23, 26); }
  &.free                   { @include emojiSheet(24, 26); }
  &.black_joker            { @include emojiSheet(25, 26); }
  &.seven                  { @include emojiSheet(26, 26); }
  &.four                   { @include emojiSheet(27, 26); }
  &.three                  { @include emojiSheet(28, 26); }

  &.orange_arrows          { @include emojiSheet(0, 27); }
  &.cloud                  { @include emojiSheet(1, 27); }
  &.cigarette              { @include emojiSheet(2, 27); }
  &.see_no_evil            { @include emojiSheet(3, 27); }
  &.unamused               { @include emojiSheet(4, 27); }
  &.arrow_down_small       { @include emojiSheet(5, 27); }
  &.lock_ink_pen           { @include emojiSheet(6, 27); }
  &.pager                  { @include emojiSheet(7, 27); }
  &.dollar                 { @include emojiSheet(8, 27); }
  &.ring                   { @include emojiSheet(9, 27); }
  &.girl                   { @include emojiSheet(10, 27); }
  &.nose                   { @include emojiSheet(11, 27); }
  &.fish                   { @include emojiSheet(12, 27); }
  &.european_castle        { @include emojiSheet(13, 27); }
  &.musical_score          { @include emojiSheet(14, 27); }
  &.carousel_horse         { @include emojiSheet(15, 27); }
  &.wine_glass             { @include emojiSheet(16, 27); }
  &.fries                  { @include emojiSheet(17, 27); }
  &.watermelon             { @include emojiSheet(18, 27); }
  &.palm_tree              { @include emojiSheet(19, 27); }
  &.first_quarter_moon     { @include emojiSheet(20, 27); }
  &.city_at_night          { @include emojiSheet(21, 27); }
  &.u6307                  { @include emojiSheet(22, 27); }
  &.de                     { @include emojiSheet(23, 27); }
  &.cool                   { @include emojiSheet(24, 27); }
  &.mahjong                { @include emojiSheet(25, 27); }
  &.six                    { @include emojiSheet(26, 27); }
  &.two                    { @include emojiSheet(27, 27); }
  &.zero                   { @include emojiSheet(28, 27); }

  &.green_asterisk         { @include emojiSheet(0, 28); }
  &.sunny                  { @include emojiSheet(1, 28); }
  &.no_entry_sign          { @include emojiSheet(2, 28); }
  &.bow                    { @include emojiSheet(3, 28); }
  &.expressionless         { @include emojiSheet(4, 28); }
  &.arrow_up_small         { @include emojiSheet(5, 28); }
  &.mag_right              { @include emojiSheet(6, 28); }
  &.telephone_receiver     { @include emojiSheet(7, 28); }
  &.yen                    { @include emojiSheet(8, 28); }
  &.love_letter            { @include emojiSheet(9, 28); }
  &.boy                    { @include emojiSheet(10, 28); }
  &.ear                    { @include emojiSheet(11, 28); }
  &.beetle                 { @include emojiSheet(12, 28); }
  &.japanese_castle        { @include emojiSheet(13, 28); }
  &.violin                 { @include emojiSheet(14, 28); }
  &.mortar_board           { @include emojiSheet(15, 28); }
  &.sake                   { @include emojiSheet(16, 28); }
  &.bread                  { @include emojiSheet(17, 28); }
  &.melon                  { @include emojiSheet(18, 28); }
  &.deciduous_tree         { @include emojiSheet(19, 28); }
  &.waxing_crescent_moon   { @include emojiSheet(20, 28); }
  &.closed_umbrella        { @include emojiSheet(21, 28); }
  &.u7121                  { @include emojiSheet(22, 28); }
  &.cn                     { @include emojiSheet(23, 28); }
  &.cl                     { @include emojiSheet(24, 28); }
  &.registered             { @include emojiSheet(25, 28); }
  &.five                   { @include emojiSheet(26, 28); }
  &.one                    { @include emojiSheet(27, 28); }
  &.pound_key              { @include emojiSheet(28, 28); }
}
