$flash-notice-bg: #009600;
$flash-alert-bg: #B31500;

.flash-banner {
  position: fixed;
  z-index: map-get($zindex, flash);
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  text-align: center;
  box-shadow: 0px 4px 5px -4px #000;

  .flash-container {
    position: relative;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    font-size: 18px;
  }

  &.flash-notice {
    border-bottom: 2px solid $flash-notice-bg;
    background-color:rgba($flash-notice-bg, 0.7);
    color: white;
    .dismiss-flash i.fa-times-circle-o { color: white; }
  }
  &.flash-alert {
    border-bottom: 2px solid $flash-alert-bg;
    background-color:rgba($flash-alert-bg, 0.7);
    color: white;
    .dismiss-flash i.fa-times-circle-o { color: white; }
  }
}
