form {
  &, p, i, label, input { font-size: 12px; }

  .form-section {
    color: black;
    font-size: 12px;
    border-bottom: 1px solid $border-color;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .split-form {
    @include split-page(300px);

    .buttons { line-height: 16px; }
    .description {
      border-left: 1px solid $border-color;
      padding: 5px;
    }

    @include xsmall-down {
      @include unsplit;

      .description {
        border-left: none;
        border-bottom: 1px solid $border-color;
      }
    }
  }
}

.checkbox {
  * { vertical-align: middle; }
  label { font-size: 12px; }
  input[type=checkbox] {}
}

.label-split {
  margin: 0;
  margin-top: 10px;
  font-weight: bold;
  font-size: 12px;
  color: $text-med-dark;
}

.login-form {
  @include split-page(500px);
  margin-top: 20px;

  form {
    padding: 10px;
    background: $off-white;
    border: 1px solid $border-color;

    p { font-size: 12px; }
    .fields {
      margin: 0 25px;

      .field {
        margin: 3px 5px;
      }
      input[type=text], input[type=password] {
        @extend .full-width;
      }
    }
  }
  .info {
    padding: 10px 15px;

    ol { padding-left: 20px; }
    p, li { font-size: 12px;}
  }

  @include xsmall-down {
    @include unsplit;

    display: flex;
    flex-direction: column-reverse;

    form .fields { margin: 0 10px; }
  }
}
