quote {
  display: block;
  margin: 3px 0 3px 15px;
  padding: 0 10px;
  background: $quote-background;
  border: 1px solid $quote-border;
  border-left: 4px solid $quote-border-left;
}

.tagged-user {
  display: inline;
  white-space: nowrap;
  font-family: monospace;
  background: $tagged-highlight;
  padding: 0 3px;
  color: $tagged-color !important;
}

code {
  display: inline;
  font-family: monospace;
  background: $code-background;
  padding: 0 3px;
}

blockquote {
  display: block;
  margin: 10px 0;
  padding: 10px;
  font-family: monospace;
  background: $code-background;
  position: relative;

  .wrapper {
    white-space: pre-wrap;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: visible;

    p:last-of-type { margin-bottom: 0; }
  }
}
