nav.pagination {
  text-align: center;
  font-size: 10px;

  .first, .last { display: none; }

  span.current, a, span.gap {
    display: inline-block;
    border: 1px solid $gray;
    padding: 3px 5px;
  }

  a {
    text-decoration: underline;

    &:hover {
      border-color: $help-default;
    }
  }
}
