.post-container {
  margin: 5px 0;
  @include split-page(40px);

  .post-description {
    padding: 2px 0 0 3px;
    vertical-align: middle;
    width: 100%;

    .title {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 3px;
      letter-spacing: 0.3px;

      p { margin: 0; }
    }
    .post-information {
      font-size: 10px;
      color: grey;
    }
    .tags {
      font-size: 10px;
      color: grey;
    }
  }
  &:visited .post-description .title { color: #909; }
  &:hover {
    .post-description .title { color: red; }
    .avatar-container { border-color: purple; }
  }
}

.unsubscribe-wrapper {
  position: relative;

  .unsubscribe-btn-container {
    position: absolute;
    top: 5px;
    left: 0;
  }
  .post-container {
    padding-left: 100px;
  }
}

.nsfw {
  line-height: 0.8;
  font-weight: bold;
  font-size: 12px;
  color: red;
}

.post-information .nsfw {
  display: inline;
  font-size: 8px;
}
