.post-container {
  margin: 5px 0;
  @include split-page(40px);

  .post-description {
    padding: 2px 0 0 3px;
    vertical-align: middle;
    width: 100%;

    .title {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 3px;
      letter-spacing: 0.3px;

      p { margin: 0; }
    }
    .post-information {
      font-size: 10px;
      color: grey;
    }
    .tags {
      font-size: 10px;
      color: grey;
    }
  }
  &:visited .post-description .title { color: $link-visited; }
  &:hover {
    .post-description .title { color: $link-hovered; }
    .avatar-container { border-color: $link-visited; }
  }
}

.ctr-subscriptions.act-index {
  .master-checkbox {
    font-size: 14px;
    vertical-align: middle;
  }
  .unsubscribe-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;

    input[type=checkbox] {
      margin-top: 15px;
      margin-right: 10px;
    }
    .post-container {
      @include split-page(30px);

      display: flex;

      .title { font-size: 12px; }
      .post-information { font-size: 8px; }
    }
  }
}

.nsfw {
  line-height: 0.8;
  font-weight: bold;
  font-size: 12px;
  color: red;
}

.post-information .nsfw {
  display: inline;
  font-size: 8px;
}
