.members {
  .show-tooltip {
    position: relative;
    .tooltip {
      position: absolute;
      top: 15px;
      left: 20px;
      background: white;
      border: 1px solid #DDD;
      color: black;
      z-index: 2;
      padding: 4px;
      min-width: 135px;
      .name { font-size: 16px; }
      .timestamp {
        font-size: 10px;
        font-style: italic;
      }
    }
  }
}
