<div class="field-autofiller emoji-loader hidden">
  <% @emoji_list.each do |emoji_name, aliases| %>
    <% list_names = [emoji_name] + aliases %>
    <div class="searchable-container" data-type="emoji" data-searchable-by="<%= list_names.join(" ") %>">
      <div class="emoji-wrapper">
        <%= emoji(emoji_name) %>
        <div class="option-name"><%= emoji_name %></div>
      </div>
      <div class="aliases"><%= aliases.join(", ") %></div>
    </div>
  <% end %>
</div>
