<% users.each do |user| %>
  <div class="searchable-container" data-type="username" data-searchable-by="<%= user.username %>">
    <div class="option-name">@<%= user.username %></div>
  </div>
<% end %>
