<div class="markdown-tools hidden">
  <div class="toolbar">
    <div class="tool-cell" data-markdown-open="*" data-markdown-close="*">
      <strong>B</strong>
    </div>
    <div class="tool-cell" data-markdown-open="_" data-markdown-close="_">
      <i>i</i>
    </div>
    <div class="tool-cell" data-markdown-open="~" data-markdown-close="~">
      <strike>S</strike>
    </div>
    <div class="tool-cell" data-markdown-open="`" data-markdown-close="`">
      <code>m</code>
    </div>
    <div class="tool-cell" data-markdown-open="```\n" data-markdown-close="\n```">
      <code>&lt;/&gt;</code>
    </div>
    <div class="tool-cell" data-markdown-open="[quote]" data-markdown-close="[/quote]">
      <i class="fa fa-quote-right"></i>
    </div>
    <div class="tool-cell" data-markdown-open="[whisper]" data-markdown-close="[/whisper]">
      <i class="fa fa-user-secret"></i>
    </div>
    <div class="tool-cell" data-markdown-open="@" data-markdown-close="">
      @
    </div>
    <div class="close-tools">X</div>
  </div>
</div>
<div class="open-tools">
  <span>A</span>
</div>
