<div class="navigation-wrapper">
  <div class="navigation-container">
    <a href="" class="navigation-head">Helptogo</a>
    <a href="">About</a>
    <a href="">Tags</a>
    <a href="">Search</a>
    <a href="">FAQ</a>
    <a href="">Start a New Post</a>
    <a href="">Chat</a>
    <a href="">Login & Registration</a>
  </div>
</div>
