<ul class="account-completion">
  <li><small>Click the <%= hover_icon(:help, "Help") %> icons below to jump to the relevant page. (Confirm Account will send you an email with a link to confirm.)</small></li>
  <% completion.each do |achievement, completed| %>
    <li class="achievement-<%= completed ? 'complete' : 'incomplete' %>">
      <%= achievement.html_safe %>
    </li>
  <% end %>
</ul>
