<% content_for(:title) { "Avatar &bull; HelperNow.co".html_safe } %>

<p>
  Hello, world! <%= emoji("lipstick") %><%= emoji("runner") %> This is an emoji test. <br>
  This is another <%= emoji("smile") %> line within the same p with more
</p>
<p>:smile::smile:, :not_an_emoji:, : smile :, :birthday:, Do not: parse</p>
